[submodule "robots/coding-challenge-bot-template"]
	path = robots/coding-challenge-bot-template
	url = https://github.com/nobleans-playground/coding-challenge-bot-template/
	branch = main
[submodule "robots/DanielsRobot"]
	path = robots/DanielsRobot
	url = git@github.com:danielpijnenborg/Daniels_robot.git
	branch = main
[submodule "robots/jorik"]
	path = robots/jorik
	url = git@github.com:JJdeVries/atilla-pub.git
	branch = main
[submodule "robots/jp"]
	path = robots/jp
	url = git@github.com:PlumPot55/JP_Paint_robot.git
	branch = main
[submodule "robots/mahmoud"]
	path = robots/mahmoud
	url = git@github.com:Mahmoud1922/nobleo-coding-challenge-bot.git
	branch = main
[submodule "robots/lewie"]
	path = robots/lewie
	url = https://github.com/lewie-donckers/ch34tsRus
	branch = main
[submodule "robots/rick"]
	path = robots/rick
	url = git@github.com:Edarrin/Nobleo_color_challange.git
	branch = main
[submodule "robots/ishu"]
	path = robots/ishu
	url = git@github.com:ishugoel-nobleo/colour-bot.git
	branch = main
[submodule "robots/rayman"]
	path = robots/rayman
	url = git@github.com:Rayman/coding-challenge-bot.git
	branch = main
[submodule "robots/tim"]
	path = robots/tim
	url = git@github.com:138bit/id10plus_bot.git
	branch = master
[submodule "robots/felipe"]
	path = robots/felipe
	url = https://git.33kbps.com.ar/fdiniello/ShortSpanDog.git
	branch = main
[submodule "robots/hein-leo"]
	path = robots/hein-leo
	url = git@github.com:heinwessels/coding-challenge-learoundo-da-vinci.git
	branch = main
[submodule "robots/furbot"]
	path = robots/furbot
	url = https://github.com/MCFurry/furbot.git
	branch = main
[submodule "robots/bram"]
	path = robots/bram
	url = git@github.com:Vidicon/LeonardoDaVidi.git
	branch = main
[submodule "robots/rokus"]
	path = robots/rokus
	url = git@github.com:rokusottervanger/rokus-nobleobot.git
	branch = main
[submodule "robots/jerrel"]
	path = robots/jerrel
	url = git@github.com:Nobleaantje/Swift-Sweeper.git
	branch = main
