[submodule "robots/coding-challenge-bot-template"]
	path = robots/coding-challenge-bot-template
	url = https://github.com/nobleans-playground/coding-challenge-bot-template/
	branch = main
[submodule "robots/DanielsRobot"]
	path = robots/DanielsRobot
	url = git@github.com:danielpijnenborg/Daniels_robot.git
	branch = main
[submodule "robots/jorik"]
	path = robots/jorik
	url = git@github.com:JJdeVries/atilla-pub.git
	branch = main
[submodule "robots/jp"]
	path = robots/jp
	url = git@github.com:PlumPot55/JP_Paint_robot.git
	branch = main
[submodule "robots/hein-bot-ross"]
	path = robots/hein-bot-ross
	url = git@github.com:heinwessels/nobleo-coding-challenge-bot-ross.git
	branch = main
