[submodule "robots/coding-challenge-bot-template"]
	path = robots/coding-challenge-bot-template
	url = https://github.com/nobleans-playground/coding-challenge-bot-template/
	branch = main
[submodule "robots/DanielsRobot"]
	path = robots/DanielsRobot
	url = git@github.com:danielpijnenborg/Daniels_robot.git
	branch = main
[submodule "robots/jorik"]
	path = robots/jorik
	url = git@github.com:JJdeVries/atilla-pub.git
	branch = main
